n8n/photographer_photo_ingestion.json
{
  "name": "Angel's Sparkle: Photographer Photo Ingestion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "fileCreated",
        "folderId": "PARENT_DRIVE_FOLDER_ID_HERE",
        "options": {
          "includeTeamDrives": true,
          "useDomainAdminAccess": false
        }
      },
      "id": "f2a2d3e4-5678-9abc-def0-111111111111",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [ 100, 300 ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {}
      },
      "id": "f2a2d3e4-5678-9abc-def0-111111111112",
      "name": "Download Photo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [ 300, 300 ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/events?drive_folder_id=eq.{{ $('Google Drive Trigger').item.json.parents[0] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "lookup-event-id",
      "name": "Lookup Event ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 500, 300 ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/event_images/{{ $('Lookup Event ID').item.json[0].id }}/{{ $('Google Drive Trigger').item.json.id }}.{{ $('Google Drive Trigger').item.json.mimeType.split('/')[1] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $('Google Drive Trigger').item.json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "f2a2d3e4-5678-9abc-def0-111111111113",
      "name": "Upload to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 700, 300 ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/gallery_images",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $('Lookup Event ID').item.json[0].id }}\",\n  \"image_url\": \"{{ $env.SUPABASE_URL }}/storage/v1/object/public/event_images/{{ $('Lookup Event ID').item.json[0].id }}/{{ $('Google Drive Trigger').item.json.id }}.{{ $('Google Drive Trigger').item.json.mimeType.split('/')[1] }}\",\n  \"is_approved\": false\n}",
        "options": {}
      },
      "id": "f2a2d3e4-5678-9abc-def0-111111111114",
      "name": "Insert into Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 900, 300 ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Photo": {
      "main": [
        [
          {
            "node": "Lookup Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Event ID": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "Insert into Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ebf6c442-990a-42c2-b7b5-0b325255474c"
}
